:root {
  --naranja: #c57e27;
  --azul: #1623b6;
  --amarillo: #80dd17;
  --verde: #7a943b;
  --blanco: #ffff;
  --celeste: #2a77cf;
  --negro: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 50%;
}

.contenedor {
  text-align: center;
}

.logo {
  width: 20%;
  border-radius: 1rem;
}

.navegador {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--celeste);
  width: 100%;
  border-radius: 1rem;
  box-shadow: 5px 5px 2px 0px var(--negro);
}

@media (min-width: 768px) {
  .navegador {
    flex-direction: row;
    justify-content: space-around;
  }
}

.navegador_enlace {
  color: var(--negro);
  font-size: 1.5rem;
  padding: 1rem;
}

.navegador_enlace:hover {
  background-color: var(--azul);
  color: var(--blanco);
  border-radius: 0.9rem;
}

.navegador_enlace--activo {
  color: var(--amarillo);
  background-color: var(--negro);
  border-radius: 1rem;
}

.titulo_principal {
  font-size: 3rem;
  text-align: center;
}

.h2 {
  text-align: center;
  font-size: 1.8rem;
}

.contenedor2 {
  background-color: var(--blanco);
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  width: 95%;
  margin: 3rem auto;
  text-align: center;
}

.parrafo {
  text-align: center;
}

.testimonios {
  background-color: var(--blanco);
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.lista-testimonios {
  list-style-type: none;
  padding: 0;
}

.testimonio blockquote {
  font-style: italic;
  color: #555;
  margin: 10px 0;
}

.testimonio cite {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--negro);
  width: 90%;
  margin: 2rem auto;
}

.display {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .display {
    grid-template-columns: repeat(2, 1fr);
  }
}

.producto {
  display: flex;
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}
.producto-textos h2 {
  text-align: center;
}
.producto-textos {
  padding-left: 4rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-detalles {
  padding: 5px 15px;
  text-decoration: none;
}
